<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>test project</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	   
    {# <h1>3 * 5 = {{3 * 5}}</h1>
    <h2> {{greeting}} </h2>

    <ul>
        {% for i in 1..5%}
            <li> {{ i }} </li>
        {% endfor %}
    </ul>

    <h1> #}


    {# 
    Якорь, хеш (anchor)  - оно не влияет на отображение страницы, все что 
    написано после #.
    
    Строка запроса (query string)- это все что написано после ? . 
    Оно не влияет на роут и отрисовку, она может влиять на характеристики 
    обрабатываемой станицы. Она нужны чтобы передать какие-то доп данные
    на страницу. Несколько значений можно писать через &.
    Строка запроса имеет примерно такой вид:
    localhost:3000?name=Taras&age=26
    #}

    <!-- разбиваем строку запроса
        {% for part in req.url | split('&') %}
            {{ part }} <br/>
        {% endfor %} {# но это слишклом муторно, поэтому юзаем express 
        фукционал#}


        {# req.query -объект содержащий все значений с ключами введенные после "?"
        - это GET запросы #}
        {{  req.query.age }} </br>
        {# здесь будет автоматически подтягиваться имя вписанное в запросе #}
        {{ greeting }}, {{ name }}
    </h1> -->  

    <form method="POST">

    {# Здесь например значение поля range будет отображать рядом в спане 
        <input id="r" name="x" type="range">
        <span id="rangeValue"></span>
        <script>
            r.addEventListener('input', function(e){
                rangeValue.textContent = e.target.value;
            })
        </script>
        <input name="btnGGG" type="submit" value="Sub"> #} 




{# "ЦВЕТ"  Здесь можем отправить на сервер цвет и сделать его бекграундом.
    Смотри "ЦВЕТ" в express.Learn.js 
        <style>
            body{
                background: {{ colo }};
            }
        </style> 

        <input name="colorrry" type="color">
        <button> Submiittted</button> #}
        
        <input name="title" type="text" placeholder="your title"></br>
        <input name="text" type="text" placeholder="your text"></br>
        <button> Submiittted</button> 

    </form>
    <div>
        <h1>    {{ posts[1].title }}   </h1>   
        <h2>    {{ posts[1].text }}    </h2>    

    </div>
    
   


</body>
</html>